<app-loading *ngIf="isLoading"></app-loading>

<ng-container *ngIf="!isLoading">
  <div>
    <div class="video-container">
      <video autoplay muted loop playsinline class="bg-video">
        <source src="assets/background.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <div class="overlay">
        <div #trackContainer class="word-scroll-container">
          <div class="word-track">
            <div class="word"><span class="word-text" (click)="scrollToSection('discover-more')">DISCOVER MORE</span></div>
            <div class="word"><span class="word-text" (click)="activateSection('contact')">CONTACT US</span></div>
            <div class="word"><span class="word-text" (click)="activateSection('about')">ABOUT US</span></div>
            <div class="word"><span class="word-text" (click)="activateSection('services')">SERVICES</span></div>
            <div class="word"><span class="word-text" (click)="activateSection('philosophy')">THE PHILOSOPHY</span></div>
            <div class="word"><span class="word-text" (click)="scrollToProjects()">OUR PROJECTS</span></div>

            <div class="word"><span class="word-text">DISCOVER MORE</span></div>
            <div class="word"><span class="word-text">CONTACT US</span></div>
            <div class="word"><span class="word-text">ABOUT US</span></div>
            <div class="word"><span class="word-text">SERVICES</span></div>
            <div class="word"><span class="word-text">THE PHILOSOPHY</span></div>
            <div class="word"><span class="word-text">OUR PROJECTS</span></div>
        
          </div>
        </div>
      </div>
    </div>

    <app-discover-more></app-discover-more>
    <app-projects></app-projects>
  </div>
</ng-container>
